## Spark Dataframes

In [1]:
import findspark

In [2]:
findspark.init('/home/srabin/spark-3.5.1-bin-hadoop3')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

24/08/06 15:03:50 WARN Utils: Your hostname, DESKTOP-P0KTK6U resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/08/06 15:03:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/06 15:03:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df = spark.read.json('people.json')

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
# if you just want a column name
df.columns

['age', 'name']

In [10]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

## create a list of structure field

In [14]:
data_schema = [StructField('age', IntegerType(), True), 
              StructField('name', StringType(), True)]

In [15]:
final_struct = StructType(fields = data_schema)

In [16]:
df = spark.read.json('people.json', schema = final_struct)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df['age']

Column<'age'>

In [20]:
type(df['age'])

pyspark.sql.column.Column

In [21]:
df.select('age')

DataFrame[age: int]

In [22]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [24]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [26]:
df.head(2) #to show the top 2 rows

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [28]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [30]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## add a new column

In [32]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## rename a column

In [34]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      NULL|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [39]:
df.createOrReplaceTempView('people')

In [40]:
results = spark.sql("SELECT * FROM people")

In [41]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
new_results = spark.sql ("SELECT * FROM people WHERE age = 30")

In [43]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+